<div class="container-fluid">
    <div class="bg-info">
        <h1 class="text-center"> CHINH PHỤC JLPT CÙNG RIKI NIHONGO </h1>
        <h3 class="text-center"> Riki khai giảng liên tục các lớp tiếng Nhật cho người mới bắt đầu mỗi tháng
            vào các khung giờ Sáng, Chiều, Tối.
        </h3>
    </div>
    <br>
    <div>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            LỚP SÁNG:
            Lịch học: Thứ 2 3 5 6 (4 buổi/tuần)
        </div>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            LỚP CHIỀU:
            Lịch học: Thứ 2 3 5 6 (4 buổi/tuần)
        </div>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            LỚP TỐI:
            Lịch học: Thứ 2 3 5 6 (4 buổi/tuần)
        </div>
    </div>
</div>
<h1 class="text-center"> ĐĂNG KÝ NHẬN TƯ VẤN MIỄN PHÍ VỀ ƯU ĐÃI KHÓA HỌC </h1>
<div>
    <form action="">
        <div class="row">
            <div class="form-group col-6">
                <input class="form-control" type="text" placeholder="Họ tên" aria-label="default input example">
            </div>
            <div class="form-group col-6">
                <input class="form-control" type="text" placeholder="Số điện thoại" aria-label="default input example">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="Email" aria-label="default input example">
            </div>
        </div>
        <div class="row">
            <label for="input" class="form-label">Chọn khóa học để được tư vấn?</label>
                    <select id="input" class="form-select">
                        <option selected> Khóa học N5 </option>
                        <option selected> Khóa học N4 </option>
                        <option selected> Khóa học N3 </option>
                    </select>
        </div>
        <br>
        <div class="row">
            <label for="input" class="form-label">Chọn cơ sở gần bạn nhất?</label>
                    <select id="input" class="form-select">
                        <option selected> Cầu Giấy </option>
                        <option selected> Hà Đông </option>
                        <option selected> Đống Đa </option>
                    </select>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="Riki có thể gọi cho bạn vào khung giờ nào?" aria-label="default input example">
            </div>
        </div>
        <br>
        <br>
        <div class="button">
            <button type="button" class=" text-center btn-danger">ĐĂNG KÝ</button>
        </div>
        <br>
    </form>
</div>
<div class="bg-secondary p-3">
    <h3 class="text-center"> HỌC RIKI THI LÀ DỖ JLPT</h3>
    <h2 class="text-center"> Hotline : 0984.92.12.92 - 0968315938</h2>
    
    <p class="text-center"> <i class="bi bi-balloon-heart-fill"> Cơ sở 1: Số 8 Trần Đăng Ninh, Cầu Giấy, P.Dịch Vọng, Hà Nội</i> </p>
    <p class="text-center"> <i class="bi bi-balloon-heart-fill"> Cơ sở 2: N78, Ngõ 54, Đường Nguyễn Khuyến, Văn Quán, Hà Đông</i> </p>
    <p class="text-center"> <i class="bi bi-balloon-heart-fill"> Cơ sở 3: Số 32 ngõ 10 Nguyễn Văn Huyên</i> </p>
    <p class="text-center"> <i class="bi bi-balloon-heart-fill"> Cơ sở 4: E8 ngõ 181 Nguyễn Lương Bằng, Hà Nội (Gần ngã tư Xã Đàn)</i> </p>

</div>